# Site
NEXT_PUBLIC_SITE_URL=https://freedomfromdiabetes.in
NEXT_PUBLIC_PAYMENT_ENABLED=false
NEXT_PUBLIC_WHATSAPP_COMMUNITY_INVITE_URL=https://chat.whatsapp.com/LYf1V55hDimAhfNVCghaN4

# Internal tools
ENABLE_PROMPT_LAB=false
